
     
    <div class="container about_us">
  
      <div class="row contentStart">
        <h4 style="color:black">Click me</h4>
        <div class="span4">
          <div class="about_item">
            <div class="about_item_center"> <div class=""><img src="images/profile.jpg" alt="" style="visibility: visible; opacity: 1;"></div>
              <div class="team_mask"></div>
              <div class="clear"></div>
              <div class="team_content">
              <h3>Tiffany Vargas <small>Hair Extrodinaire</small></h3>
              <p>I grew up in San Jose, CA and attended California Cosmetology College in Santa Clara, CA graduating in 2006. Since that time I've been working at high-end salons and doing hair professionally for 7 years.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
