
       
      <div class="row" style="background-color:LightGrey; height: browserHeight">
        <div class="container about_us">

        <h4 style="color:black">Click me</h4>
        <div class="span4">
          <div class="about_item">
            <div class="about_item_center"> <div class=""><img src="images/profile.jpg" alt="" style="visibility: visible; opacity: 1;"></div>
              <div class="team_mask"></div>
              <div class="clear"></div>
              <div class="team_content">
              <h3>Tiffany Vargas <small>Hair Extrodinaire</small></h3>
              <p>I grew up in San Jose, CA and attended California Cosmetology College in Santa Clara, CA graduating in 2006. Since that time I've been working at high-end salons and doing hair professionally for 7 years.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container testimonials about_us">
      <h2 class="header_line" style="color:black;"><span>What my clients say</span></h2>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h4>Gail H. <span class="spacer">/</span> <small>San Jose, CA</small></h4>
            </a> </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <blockquote style="color:black;">Tiff always does an amazing job, I would never go anywhere else again. <small><strong> Gail H. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Wedding</a></small> </blockquote>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h4>Tyeler O. <span class="spacer">/</span> <small>Santa Clara, CA</small></h4>
            </a> </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <blockquote style="color:black;">Tiffany made my wedding a breeze. She was seriously better than I could of ever hoped for as a bride to be. <small><strong> Tyeler O. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Cut/Color/Style</a></small> </blockquote>
            </div>
          </div>
        </div>
     <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            <h4>Dr. Matt H. <span class="spacer">/</span> <small>San Francisco, CA</small></h4>
            </a> </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <blockquote style="color:black">Tiffany has been cutting my hair for years and I wouldn't trust it to anyone else. Seriously! <small><strong> Dr. Matt H. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Cut/Color/Style</a></small> </blockquote>
            </div>
          </div>
        </div>
      </div>
  </div>  

</div>