
<div id="wrapper">
      
      <div class="row">
        <div class="span12">
          
          <h2 class="header_line"><span>Get in touch:</span></h2>
          <p>I'm available every day at VENA RENEE Spa Salon & Glam Vault Boutique and also for weddings and special occssions. Just get in touch and let me know what I can do for you!</p>
        </div>
      </div>    

        
        <div class="contact-address">
          <h2 class="header_line"><span>Address:</span></h2>
          <h3><span class="raleway">Tiffany Lynn Vargas</span></h3>
          <p> 
            477 North Santa Cruz Ave <br>
            Los Gatos, CA<br>
            </p>
          <h2 class="header_line"><span>Phone:</span></h2>
          <p><abbr title="Phone">Cell: </abbr>408.205.2349<br>
             <abbr title="Email"><a href="mailto:tiffanylynnvargas@gmail.com "><strong>Email me: </strong></a></abbr>tiffanylynnvargas@gmail.com<br>
            </p>
        </div>
      
      <div class="row">
      </div>  
</div>