
<div id="wrapper" style="background-color:LightGrey">
      
      <div class="row">
        <div class="span12">
          
          <h2 class="header_line" style="color:black;"><span>Get in touch:</span></h2>
          <p style="color:black;">I'm available every day at VENA RENEE Spa Salon & Glam Vault Boutique and also for weddings and special occssions. Just get in touch and let me know what I can do for you!</p>
        </div>
      </div>    

        
        <div class="contact-address">
          <h2 class="header_line" style="color:black;"><span>Address:</span></h2>
          <h3><span class="pink raleway">Tiffany Lynn Vargas</span></h3>
          <p style="color:black;"> 
            477 North Santa Cruz Ave <br>
            Los Gatos, CA<br>
            </p>
          <h2 class="header_line" style="color:black;"><span>Phone:</span></h2>
          <p style="color:black;"><abbr title="Phone" style="color:black;">Cell: </abbr>408.205.2349<br>
             <abbr title="Email" style="color:black;"><a href="mailto:tiffanylynnvargas@gmail.com" style="color:black;"><strong>Email me: </strong></a></abbr>tiffanylynnvargas@gmail.com<br>
            </p>
        </div>
      
      <div class="row">
      </div>  
</div>