

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      
      <div class="item active">
        <img src="images/hair.jpg" alt="" data-interval="5000">
        <div class="carousel-caption">
          <h1>Wedding <br><span class="pink raleway">Hair & Style</span></h1>
        </div>


      </div>
      
      <div class="item">
        <img src="images/hair3.jpg" alt="" data-interval="5000">
        <div class="carousel-caption">
          <h1>Everyday <br><span class="pink raleway">Face Slaping</span></h1>
        </div>

      </div>
      
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->   