

    <div class="header">
      <div class="container clearfix">
        <div class="row" style="background-color:LightGrey">
          <div class="span12"> 
            <!-- Service Title -->
            <h1>Service<span class="raleway"> <span class="pink">//</span> What I can do for you!</span></h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container service">
      <div class="span7">
        <h2 class="header_line" style="color:black;"><span>My Mission <small>Customer Satisfaction</small></span></h2>
      </div>
    </div>
      <div class="span3">
        <div class="iconBox">
          <div class="service-icon"><i class="icon-check"></i></div>
          <h3 style="color:black;">Weddings</h3>
          <p style="color:black;">All day event with multiple people? I got the bride, groom and whoever else you need covered. Priceing TBD</p>
        </div>
      </div>

        <div class="span3">
          <div class="iconBox">
            <div class="service-icon"><i class="icon-check"></i></div>
            <h3 style="color:black;">Cuts & Color</h3>
            <p style="color:black;">I can cut, color and even jump rope while cutting hair flawlessly. Prices start around $200</p>
          </div>
        </div>
        <div class="span3">
          <div class="iconBox">
            <div class="service-icon"><i class="icon-check"></i></div>
            <h3 style="color:black;">Styling</h3>
            <p style="color:black;">I'm young and hip (so I'm told) but I still know all about classic styles, trends and timeless looks. Contact me to learn more. Pricing TBD</p>
          </div>
        </div>
      </div>
      <hr class="service_hr">
      <div class="container service">
        <div class="span7" >
          <h2 class="header_line" style="color:black;"><span>Philosophy <small>It's all in the details</small></span></h2>
          <div class=""><img src="images/hair.jpg" height="200" width="220" alt="" class="alignleft" style="visibility: visible; opacity: 1;"></div>
          <p class="lead" style="color:black;"><strong>Whether it is a </strong> wedding or an everyday cut, style or hair coloring, you will always get the same great quality of service you desire. That's why my clients keep coming back to me and it's why you'll love coming to me. </p>
          <p class="" style="color:black"><span class="dropcap">And</span> if I can't make you smile or laugh, you'll probably get your money back.</p>
        </div>
      </div>
    <hr class="service_hr">
   <div class="container testimonials about_us">
      <h2 class="header_line" style="color:black;"><span>What my clients say</span></h2>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h4>Gail H. <span class="spacer">/</span> <small>San Jose, CA</small></h4>
            </a> </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <blockquote style="color:black;">Tiff always does an amazing job, I would never go anywhere else again. <small><strong> Gail H. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Wedding</a></small> </blockquote>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h4>Tyeler O. <span class="spacer">/</span> <small>Santa Clara, CA</small></h4>
            </a> </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <blockquote style="color:black;">Tiffany made my wedding a breeze. She was seriously better than I could of ever hoped for as a bride to be. <small><strong> Tyeler O. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Cut/Color/Style</a></small> </blockquote>
            </div>
          </div>
        </div>
      <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h4>Matt H. <span class="spacer">/</span> <small>San Francisco, CA</small></h4>
            </a> </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <blockquote style="color:black;">I wouldn't trust my hair to anyone but Tiffany. Seriously! <small><strong> Matt H. </strong><span class="spacer">/</span> <a href="#" style="color:black;">Cut/Color/Style</a></small> </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>  
